name: basvanderschot

on:
  # push:
  #   branches:
  #     - master
  schedule:
    - cron: "25 4 * * 1-6"
  workflow_dispatch:

jobs:
  run:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Install required PowerShell modules
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module UncommonSense.Hap, UncommonSense.Volkskrant, UncommonSense.Rss -Scope CurrentUser

      - name: Update feed
        shell: pwsh
        run: |
          Get-BasVanDerSchot
          | Select-Object -First 10
          | ForEach-Object {
            New-RssFeedItem `
              -ID $_.Url `
              -Title $_.Title `
              -Description "<img src='$($_.Body)'/>" `
              -PubDate $_.Date }
          | New-RssFeed `
            -Title 'Bas van der Schot' `
            -Link 'https://www.volkskrant.nl/nieuws-achtergrond/bas-van-der-schot~b19fa213' `
            -Description 'Bas van der Schot'
          | Set-Content -Path ./data/basvanderschot.xml

      - name: Commit and push feed
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull
          git add .
          git commit -m "generated" || echo "No changes to commit"
          git push
