name: dirkjan

on:
  # push:
  #   branches:
  #     - master
  schedule:
    - cron: "15 5 * * 1"
  workflow_dispatch:

jobs:
  run:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Install required PowerShell modules
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module UncommonSense.Dirkjan, UncommonSense.Parool, UncommonSense.Rss -Scope CurrentUser

      - name: Update feed
        shell: pwsh
        run: |
          Import-Module UncommonSense.Dirkjan
          Import-Module UncommonSense.Parool -Prefix Parool

          $First = Get-DirkJan | Select-Object -First 10
          $Second = Get-ParoolDirkJan | Select-Object -First 10
          $All = ($First + $Second) | Sort-Object -Property Date -Descending

          $All
          | ForEach-Object {
            New-RssFeedItem `
              -ID $_.Url `
              -Title $_.Title `
              -Description "<img src='$($_.Body)'/>" `
              -PubDate $_.Date }
          | New-RssFeed `
            -Title 'Dirkjan' `
            -Link 'https://dirkjan.nl' `
            -Description 'Dirkjan'
          | Set-Content -Path ./data/dirkjan.xml

      - name: Commit and push feed
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull
          git add .
          git commit -m "generated" || echo "No changes to commit"
          git push
