name: filmhuisveenendaal

on:
  schedule:
    - cron: "0 2 * * *" # GitHub uses UTC
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      DataFolderName: ./data/cinema

    steps:
      - uses: actions/checkout@v2

      - name: Install required PowerShell modules
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module UncommonSense.Hap, UncommonSense.Cinema, UncommonSense.iCalendar -Scope CurrentUser

      - name: Create data folder
        shell: pwsh
        run: |
          if (-not (Test-Path -Path $env:DataFolderName -PathType Container))
          {
            New-Item -Path $env:DataFolderName -ItemType Directory | Out-Null
          }

      - name: Update calendar file
        shell: pwsh
        run: |
          Get-FilmhuisVeenendaal
          | ForEach-Object { New-CalendarEvent -Start $_.Date -End ($_.Date).AddHours(2) -Summary "Filmhuis Veenendaal: $($_.Title)" -Description $_.Body }
          | Export-Calendar -Name 'Filmhuis Veenendaal' -Path (Join-Path -Path $env:DataFolderName -ChildPath filmhuisveenendaal.ics)

      - name: Push changes to git repo
        run: |
          git config --global user.name 'Jan Hoek'
          git config --global user.email 'github@uncommonsense.nl'
          git remote set-url origin https://x-access-token:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}
          git pull
          git add ./data/cinema/*
          git commit -am 'Updated tvguide files'
          git push
