name: ikjes

on:
  schedule:
    - cron: "40 5 * * 1-6"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Install required PowerShell modules
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module UncommonSense.Hap, UncommonSense.Nrc, UncommonSense.Pushover -Scope CurrentUser

      - name: Send notification
        shell: pwsh
        env:
          PUSHOVER_APP_IKJE: ${{secrets.PUSHOVER_APP_IKJE}}
          PUSHOVER_USER_IKJE: ${{secrets.PUSHOVER_USER_IKJE}}
        run: |
          Get-Ikje
          | Select-Object -First 1
          | ForEach-Object {
            Send-PushoverNotification `
              -ApplicationToken $env:PUSHOVER_APP_IKJE `
              -Recipient $env:PUSHOVER_USER_IKJE `
              -Message $_.Body `
              -Title ('Ikje: {0} ({1:dddd d MMMM yyyy})' -f $_.Title, $_.Date)
          }
