name: npo

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install required PowerShell modules
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module UncommonSense.Hap, UncommonSense.Npo, UncommonSense.Rss -Scope CurrentUser

      - name: Get Recent data
        shell: pwsh
        run: |
          Get-NpoFeatured
          | ForEach-Object {
            New-RssFeedItem `
              -ID $_.Link `
              -Title $_.Title `
              -Description "<img src='$($_.Image)'><br/>$($_.Synopsis)" `
              -PubDate (Get-Date) }
          | New-RssFeed `
            -Title 'NPO Featured' `
            -Link 'https://www.npostart.nl/speellijst/nieuw-op-npo-plus' `
            -Description 'NPO Featured'
          | Set-Content -Path ./data/npo.xml

      - name: Commit and push feed
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull
          git add .
          git commit -m "generated" || echo "No changes to commit"
          git push
