name: sigmund2

on:
    # push:
    #   branches:
    #     - master
    schedule:
        - cron: "15 6 * * 1-5"
    workflow_dispatch:

jobs:
    run:
        runs-on: self-hosted

        steps:
            - name: Install required PowerShell modules
              shell: pwsh
              run: |
                  Set-PSRepository PSGallery -InstallationPolicy Trusted
                  Install-Module UncommonSense.Sigmund, UncommonSense.Pushover -Scope CurrentUser -Force

            - name: Send notification
              shell: pwsh
              env:
                  PUSHOVER_APP_SIGMUND: ${{secrets.PUSHOVER_APP_SIGMUND}}
                  PUSHOVER_USER_SIGMUND: ${{secrets.PUSHOVER_USER_SIGMUND}}
              run: |
                  UncommonSense.Sigmund\Get-Sigmund
                  | Where-Object Date -eq (Get-Date).Date
                  | ForEach-Object {
                    Send-PushoverNotification `
                      -ApplicationToken $env:PUSHOVER_APP_SIGMUND `
                      -Recipient $env:PUSHOVER_USER_SIGMUND `
                      -Message $_.Body `
                      -Html
                  }
