name: spotprent

on:
  # push:
  #   branches:
  #     - master
  schedule:
    - cron: "0 5 * * 1-6"
  workflow_dispatch:

jobs:
  run:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Install required PowerShell modules
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module UncommonSense.Hap, UncommonSense.Trouw, UncommonSense.Rss -Scope CurrentUser

      - name: Update feed
        shell: pwsh
        run: |
          Get-SpotPrent
          | Select-Object -First 10
          | ForEach-Object {
            New-RssFeedItem `
              -ID $_.Url `
              -Title $_.Title `
              -Description "<img src='$($_.Body)'/>" `
              -PubDate $_.Date }
          | New-RssFeed `
            -Title 'Spotprent' `
            -Link 'https://www.trouw.nl/cartoons/spotprent~bdea29f4/' `
            -Description 'Spotprent'
          | Set-Content -Path ./data/spotprent.xml

      - name: Commit and push feed
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull
          git add .
          git commit -m "generated" || echo "No changes to commit"
          git push
